.dropdown {
	background-color: var(--secondary-color);
	margin-top: 33px;
	font-size: 24px;
	border-radius: 5px;
	overflow: hidden;
	max-height: 35rem;
	transition: max-height 0.5s ease-in-out;
	cursor: pointer;
}

.dropdown__title h3 {
	font-size: 24px;
	color: white;
	font-weight: 500;
}

.dropdown__title img {
	margin-left: auto;
	transition: transform 0.3s ease-out;
}

.dropdown__title {
	background-color: var(--primary-color);
	padding: 5px 15px;
	border-radius: 5px;
	display: flex;
	max-height: 46px;
}

.dropdown__content {
	font-weight: 300;
	padding: 30px 27px 19px 17px;
	color: var(--primary-color);
}
.drop_closed {
	max-height: 46px;
}
.arr_down {
	transform: rotate(180deg);
}

.small h3,
.small p {
	font-size: 18px;
}

.small.drop_closed {
	max-height: 38px;
}

/**
* Mobile
*/
@media screen and (max-width: 767px) {
	.dropdown {
		margin-top: 20px;
	}

	.dropdown__title,
	.drop_closed {
		max-height: 30px;
	}

	.dropdown__title h3 {
		font-size: 13px;
	}
	.small p {
		font-size: 12px;
	}
	.small.drop_closed {
		max-height: 30px;
	}

	.dropdown__content {
		font-size: 12px;
		padding: 20px 10px;
	}

	.dropdown__title img {
		width: 15px;
	}
}
