.dropdown {
	background-color: var(--secondary-color);
	margin-top: 33px;
	font-size: 24px;
	border-radius: 5px;
	overflow: hidden;
	max-height: 35rem;
	transition: max-height 0.5s ease-in-out;
	cursor: pointer;
}