.dropdown {
  background-color: var(--secondary-color);
  margin-top: 33px;
  border-radius: 5px;
  overflow: hidden;
  max-height: 35rem;
  transition: max-height 0.5s ease-in-out;
  cursor: pointer;
}
.dropdown.large {
  width: 1024px;
  margin-inline: auto;
}
.dropdown__label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 46px;
  padding: 0.5rem 0.9rem;
  border-radius: 6px;
  background-color: var(--primary-color);
}
.dropdown__label h3 {
  font-size: 18px;
  font-weight: 500;
  color: white;
}
.dropdown__label img {
  transition: all 0.4s ease-in-out;
}
.dropdown__content {
  padding: 2.2rem 1.5rem 1.2rem 1.7rem;
  color: var(--primary-color);
  font-size: 24px;
}
.arrow_down {
  transform: rotate(180deg);
}

.small .dropdown__title,
.small .dropdown__content {
  font-size: 18px;
}
.closed {
  max-height: 44px;
}
