.error {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error__text {
  margin-top: 15px;
  font-size: 288px;
  font-weight: bold;
}

.error__subText {
  font-size: 36px;
  margin-bottom: 120px;
}
.error__link {
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 192px;
}

@media screen and (max-width: 767px) {
  .error__bigNum {
    margin-top: 75px;
    font-size: 96px;
  }

  .error__text {
    font-size: 18px;
  }

  .error__link {
    font-size: 14px;
  }
}
