.footer {
  height: 209px;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.footer_logo {
  margin-bottom: 36px;
}
