.header {
  color: var(--primary-color);
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-inline: auto;
  justify-content: space-between;
}

.header__links {
  margin-left: auto;
}
.active {
  text-decoration: underline;
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  width: 14rem;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .header {
    font-size: 12px;
  }
  .header__logo {
    max-height: 40px;
  }
  .header__links :first-child {
    margin-right: 10px;
  }
  .header__links {
    text-transform: uppercase;
  }
}
