.header {
  max-width: 1240px;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  margin-top: 3rem;
  margin-inline: auto;
  justify-content: space-between;
}
.header__nav-link {
  font-size: 24px;
}
.active {
  text-decoration: underline;
}

.header__nav-list {
  display: flex;
  gap: 4rem;
}
@media screen and (max-width: 767px) {
  .header {
    margin-inline: 1rem;
    margin-top: 1.25rem;
    font-size: 12px;
  }
  .header__logo {
    max-height: 40px;
    max-width: fit-content;
  }
  .header__nav {
    align-self: end;
  }
  .header__nav-list {
    gap: 1rem;
  }
  .header__nav-link {
    font-size: 17px;
  }
}
