.header {
  color: var(--primary-color);
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-top: 3rem;
  margin-inline: auto;
  justify-content: space-between;
}

.active {
  text-decoration: underline;
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  width: 16rem;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .header {
    font-size: 12px;
  }
  .header__logo {
    max-height: 40px;
  }
}
