.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  font-size: 48px;
  height: 223px;
  margin-top: 50px;
  margin-inline: auto;
  border-radius: 25px;
  color: white;
}

.hero__title {
  z-index: 1;
}

.hero__img {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

@media screen and (max-width: 767px) {
  .hero {
    font-size: 20px;
    margin-top: 20px;
    border-radius: 10px;
    height: 110px;
  }
  .hero.large {
    height: 223px;
  }
  .hero__title {
    padding: 15px;
  }
}
