@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

:root {
  --primary-color: #ff6060;
  --secondary-color: #f6f6f6;
}

body {
  font-family: "Montserrat", sans-serif;
}