@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

:root {
  --primary-color: #ff6060;
  --secondary-color: #f6f6f6;
}
#root {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
}
.main {
  min-height: calc(100% - 209px);
  max-width: 1240px;
  margin-inline: auto;
}

@media screen and (max-width: 767px) {
  .main {
    margin-inline: 1rem;
  }
}
