.info__container {
}
.info__heading {
}
.info__header {
}
.info__title {
}
.info__location {
}
.info__host {
}
.info__host-name {
}
.info__host-img {
}
.info__dropdowns {
  display: flex;
  margin-bottom: 3rem;
}
.info__dropdowns .dropdown{
  flex-basis: 48%;
}
