.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 48px;
  height: 223px;
  margin-top: 60px;
  margin-inline: auto;
  border-radius: 25px;
  color: white;
}

.hero_text {
  z-index: 1;
}

.hero_img {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 25px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

@media screen and (max-width: 767px) {
  .hero {
    height: 111px;
    font-size: 20px;
    margin-top: 20px;
  }

  .hero_text {
    padding: 15px;
  }

  .hero_img-darken {
    height: 223px;
  }
}
